#wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height:100%;
  width: 100%;
  z-index: 1;
  background-image: radial-gradient(#90E0EF,#0096C7,#023E8A 30%);
}
  #display{
    height:16%;
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 15%;
    color: #0096C7;
  }

  #drum-machine{
    justify-content: center;
    border: solid;
    height: 400px;
    width: 400px;
    border: solid #03045E 0.2px;
  }
    

    .drum-pad{
      height: 33.33%;
      width: 33.33%;
      text-decoration: none;
      border: solid #03045E 0.2px;
      background: #ADE8F4;
      color: #0096C7;
      font-size: 30px;
      outline: none;
    }

    @media only screen and (max-width: 550px){
    #drum-machine{
      height: 250px;
      width: 250px;
    }
    }